
<section class="min-h-[80vh] md:min-h-[40vh] z-0">
</section>
<footer class="fixed bottom-0 w-full z-1">
  <img class="absolute block sm:hidden bottom-0 w-full h-full object-cover object-top z-0"
       src="background.webp" alt="back">
  <img class="absolute hidden sm:block bottom-0  w-full h-full object-cover object-top z-0"
       src="background.webp" alt="back">

  <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50 z-1"></div>

  <div class="relative z-10 text-[rgba(246,246,246,.8)] pb-10 pt-100 md:pt-36 px-6 md:px-20 lg:px-40">
    <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 text-lg">

      <!-- Branding -->
      <div>
        <h3 class="text-4xl font-semibold mb-4 md:mb-2">
          Miroslava XV Años</h3>
      </div>


      <!-- Redes sociales -->
      <div class="border-t md:border-t-0 border-[rgba(246,246,246,.5)] pt-6 md:self-end">
        <div class="flex md:justify-end space-x-4 space-y-2">
          <a href="#itinerario" (click)="scrollTo('itinerario', $event)" class="hover:text-white transition">Itinerario</a>
          <a href="#lugar" (click)="scrollTo('lugar', $event)" class="hover:text-white transition">Lugar</a>
        </div>
      </div>

    </div>

    <div class="mt-8 border-t border-[rgba(246,246,246,.5)] pt-6 text-center text-xs ">
      &copy; 2025 Miroslava XV años. Todos los derechos reservados.
    </div>
  </div>
</footer>
